@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
body{
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 186) no-repeat;
  background-size: cover;
  height: 100vh;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgb(252, 159, 182);
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: rgb(252, 113, 148);
	border-radius: 2px;
}
.box{
  width: 900px;
  background: rgb(252, 113, 148);
  padding: 10px;
  text-align: center;
  margin: auto;
  margin-top: 15%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 20%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 35px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h2{
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 100;
  text-align: center;
}
.box h3{
  font-size: 25px;
  letter-spacing: 4px;
  font-weight: 100;
  text-align: justify;
  text-align: center;
}
.box h4{
  font-size: 25px;
  letter-spacing: 4px;
  font-weight: 100;
  text-align: justify;
  text-align: left;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
  text-align: center;
  margin: auto;
}